<ion-view title="Edit Profile" id="page8">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <label class="item item-input" name="Tag">
                <span class="input-label">Edit Tag</span>
                <input type="text" placeholder="What are you doing?">
            </label>
            <label class="item item-select">
                <span class="input-label">Avail/Busy</span>
                <select>
                    <option>Available</option>
                    <option>Busy</option>
                </select>
            </label>
        </form>
        <form class="list"></form>
        <a ui-sref="tabsController.profile" id="editProfile-button9" class="button button-positive  button-block">Done</a>
    </ion-content>
</ion-view>