<ion-view title="Pokes" id="page12">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="button-bar"></div>
        <a ui-sref="tabsController.feed" id="pokes-button15" class="button button-positive  button-block">Poke</a>
        <a ui-sref="tabsController.feed" id="pokes-button16" class="button button-positive  button-block">Popcorn</a>
        <a ui-sref="tabsController.feed" id="pokes-button17" class="button button-positive  button-block">Wave</a>
        <a ui-sref="tabsController.feed" id="pokes-button18" class="button button-positive  button-block">Surprise!</a>
    </ion-content>
</ion-view>