<ion-view title="Profile" id="page2">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-divider">Me</ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="tabsController.editProfile">
                <img>
                <h2>John Snow</h2>
                <p>Available</p>
            </ion-item>
            <ion-item class="item-divider">Favorites</ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>John Smith</h2>
                <p>Available</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Jane Doe</h2>
                <p>Busy</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>